<a href="https://colab.research.google.com/github/Rania968/Rania_TugasDibimbing1/blob/main/tugas_dibimbing_rania.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
file_path = '/content/drive/MyDrive/student_admission_record_dirty.csv'
data = pd.read_csv(file_path)

In [2]:
print('Informasi Data:')
data.info()

Informasi Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    147 non-null    object
 1   Age                     147 non-null    float64
 2   Gender                  147 non-null    object
 3   Admission Test Score    146 non-null    float64
 4   High School Percentage  146 non-null    float64
 5   City                    147 non-null    object
 6   Admission Status        147 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.7+ KB

In [3]:
print('\nJumlah Nilai Hilang:')
print(data.isna().sum())

Jumlah Nilai Hilang:
Name                      10
Age                       10
Gender                    10
Admission Test Score      11
High School Percentage    11
City                      10
Admission Status          10
dtype: int64

In [7]:
# Mengisi nilai hilang pada kolom bertipe objek dengan modus dan numerik dengan rata-rata
for column in data.columns:
    if data[column].dtype == 'object':
        # Jika kolom bertipe objek (teks), isi dengan modus
        mode_value = data[column].mode()[0]
        data[column] = data[column].fillna(mode_value)
    else:
        # Jika kolom numerik, isi dengan nilai rata-rata
        mean_value = data[column].mean()
        data[column] = data[column].fillna(mean_value)

In [8]:
print('\nJumlah Nilai Hilang Setelah Pembersihan:')
print(data.isna().sum())

Jumlah Nilai Hilang Setelah Pembersihan:
Name                      0
Age                       0
Gender                    0
Admission Test Score      0
High School Percentage    0
City                      0
Admission Status          0
dtype: int64

In [9]:
check_duplicate = data.duplicated().sum()
print(f'Jumlah Data Duplikat: {check_duplicate}')

Jumlah Data Duplikat: 7

In [10]:
data = data.drop_duplicates()

In [12]:
handle_duplicate = data.duplicated().sum()
print(f'Jumlah Data Duplikat Setelah Dihapus: {handle_duplicate}')

Jumlah Data Duplikat Setelah Dihapus: 0

In [13]:
print('\nData Bersih:')
print(data.head())

Data Bersih:
      Name   Age  Gender  Admission Test Score  High School Percentage  \
0  Shehroz  24.0  Female                  50.0               68.900000
1    Waqar  21.0  Female                  99.0               60.730000
2   Bushra  17.0    Male                  89.0               75.684726
3    Aliya  17.0    Male                  55.0               85.290000
4    Bilal  20.0    Male                  65.0               61.130000

        City Admission Status
0     Quetta         Rejected
1    Karachi         Rejected
2  Islamabad         Accepted
3    Karachi         Rejected
4     Lahore         Rejected